@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__profile/content__profile.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__inner/profile__inner.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__caption/profile__caption.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_action/profile__button_action_edit.css);
@import url(../blocks/profile/__button/_action/profile__button_action_add.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__img/card__img.css);
@import url(../blocks/card/__inner/card__inner.css);
@import url(../blocks/card/__caption/cards__caption.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
/* * {
  outline: 1px solid red;
} */