.profile__button_action_edit {
  box-sizing: border-box;
  padding: 0;
  background-image: url(../../../../images/button-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  grid-area: button_edit;
  align-self: center;
}

@media screen and (max-width: 984px) {
  .profile__button_action_edit {
    width: 18px;
    height: 18px;
  }
}